<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mt-5">Upload File</h2>
                <form action="/upload" method="post" enctype="multipart/form-data" class="p-5 border rounded">
                    <div class="form-group">
                        <label for="file">Choose File:</label><br>
                        <input type="file" id="file" name="file" required><br>
                    </div>
                    <input type="submit" value="Upload" class="btn btn-primary btn-block">
                </form>
                <button type="button" class="btn btn-link btn-block" onclick="location.href='/logout'">Logout</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>